<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section style="width: 100%;">
        <header style="width: 100%; text-align: center; background-color: #e5e5e5;">
            <h1 style="font-size: 5vw;">Automatismos Brito</h1>
        </header>
        <main style="width: 100%;">
            <div style="float: left; width: 20%;">
                <div style="width: 100%; text-align: center;">
                    <div style="width: 100%; margin-top: 5px; margin-bottom: 5px;">
                        <a href=""><button
                                style="background-color: #e5e5e5; padding: 10px;  width: 100%; font-size: 2vw;">Automatismos
                                Brito</button></a>
                    </div>
                    <div style="width: 100%; color: red;">
                        <h1 style="width: 100%;">Otros Servicios</h1>
                    </div>
                    <div style="width: 100%; margin-top: 5px; margin-bottom: 5px;">
                        <a href=""><button
                                style="background-color: #e5e5e5; padding: 10px;  width: 100%; font-size: 2vw;">Servicio
                                Abogado</button></a>
                    </div>
                    <div style="width: 100%; margin-top: 5px; margin-bottom: 5px;">
                        <a href=""><button
                                style="background-color: #e5e5e5; padding: 10px;  width: 100%; font-size: 2vw;">Servicio
                                Peluqueria</button></a>
                    </div>
                    <div style="width: 100%; margin-top: 5px; margin-bottom: 5px;">
                        <a href=""><button
                                style="background-color: #e5e5e5; padding: 10px;  width: 100%; font-size: 2vw;">Servicio
                                Electrico</button></a>
                    </div>
                    <div style="width: 100%; margin-top: 5px; margin-bottom: 5px;">
                        <a href=""><button
                                style="background-color: #e5e5e5; padding: 10px;  width: 100%; font-size: 2vw;">star
                                store</button></a>
                    </div>
                </div>
            </div>
            <div style="float: left; width: 60%;">
                <div style="text-align: center;">
                    <span style="font-size: 3vw; font-weight: bold;">Articulos</span>
                </div>
                <div style="width: 100%;">
                    <figure>
                        <img style="width: 13vw; float: left; margin: 5px;"
                            src="https://e0.pxfuel.com/wallpapers/865/864/desktop-wallpaper-assassin-s-creed-girl-version-female-assassin.jpg"
                            alt="">
                    </figure>
                    <figure>
                        <img style="width: 13vw; float: left; margin: 5px;"
                            src="https://e0.pxfuel.com/wallpapers/865/864/desktop-wallpaper-assassin-s-creed-girl-version-female-assassin.jpg"
                            alt="">
                    </figure>
                    <figure>
                        <img style="width: 13vw; float: left; margin: 5px;"
                            src="https://e0.pxfuel.com/wallpapers/865/864/desktop-wallpaper-assassin-s-creed-girl-version-female-assassin.jpg"
                            alt="">
                    </figure>
                </div>
            </div>
            <div style="float: left; width: 20%; font-size: 2vw;">
                <div style="width: 100%; text-align: center; background-color: #e5e5e5; margin-bottom: 5px;">
                    <span style="font-size: 2vw; font-weight: bold;">Nosotros</span>
                </div>
                <div style="background-color: #e5e5e5;">
                    <p style="text-align: justify;">
                        Es una Entidad que se dedica a la publicidad de productos de una empresa, como tambien otros
                        servicios para mantener informado a los clientes de las nuevas ofertas.
                    </p>
                </div>
            </div>
        </main>
        <footer style="width: 100%; text-align: center; clear: both; background-color: #e5e5e5;">
            <h1>© copyright Automatismos Brito</h1>
        </footer>
    </section>
</body>

</html>